h1,
h2,
h3,
h4 {
	text-transform: capitalize;
}

.center {
	grid-area: center;
	display: flex;
	flex-direction: column;
}
.current {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* timer */
.seconds {
	font-size: .8rem;
}
